<!-- <div class="chirp">
	<h3><%= chirp.body %></h3>
	<p>posted <%= time_ago_in_words(chirp.created_at) %> by
		<%= link_to chirp.user.username, chirp.user %>
		<% if current_user and current_user == chirp.user %>
			| <%= link_to 'X', chirp, method: :delete %>
		<% end %>
	</p>

</div> -->