<h1>Post!</h1>

<%= form_for @chirp do |f| %>
	<% if @chirp.errors.any? %>
		<% @chirp.erros.full_messages.each do |error| %>
			<p><%= error %></p>
		<% end %>
	<% end %>

	<div>
		<%= f.text_area :body, placeholder: 'Post here?' %>
	</div>

	<div>
		<%= f.submit "Post" %>
	</div>


<% end %>